<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>I am created to test the Auth</h1>
    <br>
    <br>
    <h2>Quote by Johan Libert</h2>
    <h1>“How weak the mind when it wants to forget. Maybe you didn't forget. Maybe you're just lying. Is it a lie you tell to everyone around you, or perhaps a lie you tell to yourself?”
    </h1>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>